
:root {
  --primary-color:           rgb(255, 255, 255);
  --secondary-color:         rgb(88, 110, 117);
  --bg-color:                rgb(0, 43, 54);
  --c-background-highlights: rgb(7, 54, 66);
  --font-color:              rgb(131, 148, 150);
  --heading-color:           rgb(42, 161, 152);
  --c-magenta:               rgb(211, 54, 130);
  --c-orange:                rgb(203, 75, 22);
}


body {
  background-color: var(--secondary-color);
  color: var(--font-color:);
}

header,
footer {
  background-color: var(--c-background-highlights);
  color: var(--font-color:);
}

main,
footer,
header {
  color: var(--font-color:);
}

article a {
  color: var(--c-magenta);
}

article a:hover {
  color: var(--c-orange);
}

section {
  border: 3px solid var(--heading-color);
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  border-bottom: 3px solid var(--heading-color);
  padding-bottom: 5px;
}

header {
  text-align: center;
}

header {
  font-size: 150%;
}

[data-theme="dark"] {
     --primary-color: rgb(0, 0, 0);
  
 myimage {
  width: 200px; /* Set the desired width */
  height: auto;
  }
